.pokedex__username{
    color: red;
    font-weight: 800;
}
.pokedex__container{
    width: 90vw;
    margin: 0 auto;
}

.pokedex__form{
    margin: 1rem 1rem 1rem 0;
    height: 25px;
    display: inline-block;

}
.pokedex__button{
    background-color: rgb(250, 0, 0);
    color: white;
    border: none;
    height: inherit;
    padding: 0 2rem;

}
.pokedex__input{
    height: inherit;
    padding: 0;
}

.pokedex__select{
    display: inline-block;
    height: 25px;
    width: 200px;
    margin-bottom: 1rem;
}
